body{
    font-family: 'Times New Roman';
}
.header{
    page-break-after: always;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(297mm-2in);
    width: calc(210mm-2in);
    padding: 1in;
    font-size: 12pt;
}

.header p{
    margin: 0.3in;
}


.content{
    line-height: 2;
    width: calc(210mm-2in);
    text-indent: 0.5in;
    page-break-after: always;
}

.reference p{
    margin-left: 1in;
    text-indent: -1in;
}

@page{
    size: auto;
    
}